
/* =========== Application Components ======= */


/* ------- Button -------- */

.btn-app{
	border-radius:0;
	text-transform:uppercase;
	border:none;
	font-size:16px;
	font-weight:bold;
	@include media-breakpoint-down(sm) { 
		font-size:12px;
	}
}

/* ------- Card Style -------- */

.cards{
	display:block;
	list-style-type:none;
	padding:0;
	h5{
		font-weight:bold;
		padding: 10px 0;
	}
	.card-item{
		display: inline-table;
		margin:10px;
		padding:20px;
		width:31%;
		background-color:white;
		border-radius:5px;
		border: 1px solid $light-gray;
		min-height:280px;
		@include media-breakpoint-down(md) { 
			width:47%;
		}
		@include media-breakpoint-down(sm) { 
			width:100%;
			margin: 10px 0;
		}
   		.details-text{
   			overflow: hidden;
		    text-overflow: ellipsis;
		    display: -webkit-box;
		    line-height: 20px;     /* fallback */
		    max-height: 200px;      /* fallback */
		    -webkit-line-clamp: 8; /* number of lines to show */
		    -webkit-box-orient: vertical;
   		}	
	}
}

/* ------- Search Box -------- */

.searchBox{
	width:50%;
	margin:20px auto 40px auto;
	@include media-breakpoint-down(sm) { 
		width:100%;
	}
	.app-input{
		border-radius:50px;
		padding-left:45px;
		background-image:url('../images/search-icon.png');
		background-repeat: no-repeat;
    	background-position: left center;
	}
}
